
body{
    background-image: url('img/city41.jpg');
    padding: 100px;
    margin-top: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
#main{
    width: 1200px;
    margin: 0 auto;
    background: #f4f4f4;
    box-shadow: 0 0px 12px #82838a, 0 3px 12px #82838a;
    border-radius: 10px;
    text-align: justify;
}
#header{
    font-family: 'Work Sans';
    text-align: center;
    font-size: 80px;
    padding-bottom: 350px;
    color:white;
    text-shadow: 2px 2px 12px #82838a, 0 3px 12px #82838a;
}
#img1{
    max-width: 100%;
    display: block;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.vahekaart{
    width: auto;
    height: 110px;
    background-color:rgb(100, 99, 99);
    text-align: center;
    font-family: "work Sans";
    margin-top: -18px;
    padding-top: 20px;
}

.storybox{
    font-family: "Work Sans";
    margin: auto;
    padding: 50px;
}
.storybox p{
    text-align: justify;

}
h3{
    text-align: justify;
    font-family: "Work Sans";
}

p{
    font-size: 18px;
    color: #1e1f23;
}
span{
    font-size: 18px;
    color: white;
    text-shadow: 0 0px 12px #82838a, 0 3px 12px #82838a;

}
.valikulink{
    text-decoration: none;
    border: 0;
}
.valikud{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#eceadf ;

}
.valikucontainer{
    display: inline-block;
    background-color: gray;
    height: 300px;
    width: 300px;
    margin-left: 30px;
    box-shadow: 0 0px 12px #82838a, 0 3px 12px #82838a;
    margin-bottom: 50px;
}
#valikuimg{
    max-width: 100%;
    height: 100%;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(173, 176, 177, 0.6);
}
.valikucontainer {
    position: relative;
    width: 25%;
    margin-top: 50px;
}
.overlaytext {
    color: white;
    font-size: 20px;
    vertical-align: middle;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0 2px 3px #525151, 0 2px 3px #525151;
}

.valikucontainer:hover .overlay {
    opacity: 0.9;
}


/*
    Siis kui liiga kaua laeb veebilehte lahti
*/

/* Keskel liikuv ring */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Läbipaistev overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 102, 255, 1);
    background: rgba(0, 102, 255, 1);
  }
  
  /* neid pole vaja, peidab selle pasa ära IE9 ja alla poole */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animatsioon */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
