
body{
    background-image: url('img/city41.jpg');
    padding: 100px;
    margin-top: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
#main{
    width: 1200px;
    margin: 0 auto;
    background: #f4f4f4;
    box-shadow: 0 0px 12px #82838a, 0 3px 12px #82838a;
    border-radius: 10px;
    text-align: justify;
}
#header{
    font-family: 'Work Sans';
    text-align: center;
    font-size: 80px;
    padding-bottom: 350px;
    color:white;
    text-shadow: 2px 2px 12px #82838a, 0 3px 12px #82838a;
}
#img1{
    max-width: 100%;
    display: block;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.vahekaart{
    width: auto;
    height: 110px;
    background-color:white;
    text-align: center;
    font-family: "work Sans";
    margin-top: -18px;
    padding-top: 20px;
}

.storybox{
    font-family: "Work Sans";
    margin: auto;
    padding: 50px;
}
h3{
    text-align: justify;
    font-family: "Work Sans";
}

p{
    font-size: 18px;
    color: #1e1f23;
}
span{
    font-size: 18px;
    color: white;
    text-shadow: 0 0px 12px #82838a, 0 3px 12px #82838a;

}
a:link, a:visited{
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    padding: 14px 25px;
    color: white;
    border-style: 3px solid;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.644);
    
}
a:hover, a:active{
    background-color: red;   
    border-style: 3px solid;
    border-radius: 3px;
}
.valikulink{
    text-decoration: none;
    border: 0;
}
.valikud{
    margin: 0;
    padding: 0;
    text-align: center;

}
.valikucontainer{
    display: inline-block;
    background-color: gray;
    height: 300px;
    width: 300px;
    margin-left: 30px;
    box-shadow: 0 0px 12px #82838a, 0 3px 12px #82838a;
    margin-bottom: 50px;
}
#valikuimg{
    max-width: 100%;
    height: 100%;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(173, 176, 177);
}
.valikucontainer {
    position: relative;
    width: 25%;
}
.valikucontainer:hover .overlay {
    opacity: 0.8;
}
.overlaytext {
    color: white;
    font-size: 20px;
    vertical-align: middle;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
